* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 135%;
}

h2 {
    margin-bottom: 10px;
    font-size: 25px;
}

#container {
    width: 1140px;
    margin: 20px auto;
}

#blog-post-container {
    width: 75%;
    float: left;
}

#other-posts {
    width: 25%;
    float: left;
    padding-left: 10px;
}

#inner-other-posts {
    position: fixed;
    top: 20px;
}

.box {
    background: white;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0, .06);
}

.blog-post {
    position: relative;
}

.blog-post img {
    width: 100%;
}

.date {
    position: absolute;
    right: 50px;
    top: 27px;
    font-size: 12px;
    color: #aaa;
}

.blog-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(102, 99, 99);
    line-height: 25px;
    text-align: justify;
}

.tags li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.tags li a {
    text-decoration: none;
}

#author-box {
    border-top: 1px solid RGB(0, 0, 0, .125);
    padding-top: 10px;
}

#author-box img {
    border-radius: 50%;
    float: left;
}

.author-text {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

div#share a {
    margin-right: 10px;
    font-size: 1.5em;
    color: gray;
    opacity: 0.6;
}

div#share a:hover {
    font-size: 1.8em;
    opacity: 0.9;
}

#inner-other-pots ul {
    list-style: none;
}

#inner-other-pots ul li {
    padding: 5px;
    margin-bottom: 2px;
}

.header {
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.tag {
    background-color: white;
    color: aqua;
    border: 1px solid aqua;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 5px;
}

.tag:hover {
    background-color: aqua;
    border: 1px solid white;
    color: white;
}