#container {
    width: 1140px;
}

#blog-post-container {
    width: 75%;
    background-color: aqua;
}

#others-posts {
    width: 25%;
    background-color: brown;
}

.author-box {
    border: 1px solid black;
}