    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
    }
    
    body {
        color: #fff;
        font-family: 'Lora', serif;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        background-color: #333;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        padding: 1.6rem 0;
    }
    
    header {
        height: 45rem;
    }
    
    header .bg-image {
        background-image: url(img/bg.jpeg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
        opacity: 0.4;
        z-index: -1;
        position: absolute;
    }
    
    header h1 {
        padding: 11rem;
        padding-bottom: 0;
    }
    
    .btn {
        display: inline-block;
        background-color: #333;
        color: #fff;
        border: 1px solid #666;
        padding: 1.4rem 3.0rem;
        margin: 0.5rem 0;
        transition: all 0.3s;
    }
    
    .btn:hover {
        background-color: #eaeaea;
        color: #333;
    }