    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
    }
    
    body {
        color: #fff;
        font-family: 'Lora', serif;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        background-color: #333;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        padding: 1.6rem 0;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    header {
        height: 45rem;
    }
    
    header .bg-image {
        background-image: url(img/bg.jpeg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
        opacity: 0.4;
        z-index: -1;
        position: absolute;
    }
    
    header h1 {
        padding: 11rem;
        padding-bottom: 0;
    }
    
    .btn {
        display: inline-block;
        background-color: #333;
        color: #fff;
        border: 1px solid #666;
        padding: 1.4rem 3.0rem;
        margin: 0.5rem 0;
        transition: all 0.3s;
    }
    
    .btn:hover {
        background-color: #eaeaea;
        color: #333;
    }
    
    #section-a {
        background-color: #eaeaea;
        color: #333;
        padding: 3.2rem 0;
    }
    
    #section-b {
        font-family: 'Open Sans', sans-serif;
        padding: 2rem;
    }
    
    #section-b ul {
        list-style-type: none;
    }
    
    #section-b ul li {
        background-color: #fff;
        color: #333;
        margin-bottom: 1.5rem;
    }
    
    .col-content {
        padding: 1.2rem;
        text-align: center;
    }
    
    #section-c {
        background-color: #fff;
        color: #333;
        text-align: center;
        padding: 4rem;
    }
    
    #section-d .box {
        font-family: 'Open Sans', sans-serif;
        padding: 4rem;
    }
    
    #section-d .box:first-child {
        background-color: #2690d4;
    }
    
    footer {
        background: #000;
        padding: 3rem;
    }
    
    footer a {
        color: #2690d4;
    }